.cow{
    width: 40px;
    height: 40px;
}

.bull{
    width: 40px;
    height: 40px;
}

.User1 {
    text-align: center;
}


.bulls_and_cows {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 400 px;
}

.table_vrap{
    padding-top: 20px;
    width: 400px;
}

.button__start {
    background-color: blue;
}

/* .bulls_and_cows_table {
    max-width: 300px;
} */
